

.save-the-date {
  font-family: 'Great Vibes', cursive;
  font-size: 700%;
  color: #e6d887;
  position: absolute;
  font-size: 600%;
  top: 18%;
  left: 13%;
  text-shadow: 2px 2px 10px black;
}

.save-the-date-date {
  font-family: 'Great Vibes', cursive;
  font-size: 700%;
  color: #e6d887;
  position: absolute;
  top: 45%;
  left: 54%;
  text-shadow: 2px 2px 10px black;
}
.sunflower-bg {

}

.sunflower {
  position: absolute;
  top: 38%;
  left: 14%;
  width: 38%;
}

.sunflower-banner {
  background: url('http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_06_hd_pictures_169782.jpg');
  background-size: cover;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 6px;
  height: 600px;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }